{% extends "base.html" %}

{% block body %}
<div class="container">
        <h2>Hi! This list is Yonsei SCSC Homepage Developers</h2>

        <h3>2014</h3>
        <ul>
            <li><a href="https://www.linkedin.com/in/dongheoncho/en">조동헌</a> - davinnovation AT gmail.com</li>
            <li>모신영</li>
            <li>김찬석</li>
            <li>김나연</li>
            <li>백경오</li>
            <li>정술람</li>
            <li>고재량</li>
            <li>신승연</li>
            <li>정현석</li>
        </ul>
</div>
{% endblock %}